@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
  }

body {
    background-color: hsl(226, 43%, 10%);
    font-size: 18px;
     font-family: "Rubik", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #fff;
    margin: 5% 20%;
  }

  .rounded-corners {
    border-radius: 10px;
  }
  
